In [ ]:
import tweepy
import pandas as pd

#insert api key and token access
consumer_key = 'EsKaq7Xq3HwERrascXyTJhbtn'
consumer_secret = '5cjl72qg0tZOOoCzwWxa7YAQYi4FRPheZdcEN0ttw3BFrVfFo4'
access_token = '1097888766256046080-HOGzU3XEW9mjHF6Z87imNPkBrIRLSI'
access_token_secret = 'ncxOUkBHjaRhEmz2Nfp4YjtEpJPlf8RluPrf1KCmeInQR'

#tweepy authorization/calling the api 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

def crawling(keyword):
  #specific tweet
  search_words = keyword
  # new_search = search_words + " -filter:retweets" 
  # date_since = "2021-02-13" #optional: pull tweets since the date xx
  # date_until = "2021-02-22" #optional: pull tweets until the date xx 

  tweets = tweepy.Cursor(api.search,
                          q=search_words,
                          # since=date_since,
                          # until = date_until,
                          geo_enabled='True',     
                          # geocode = coordinates,  
                          tweet_mode='extended', 
                          lang='en'               
                          ).items(1000)             

  usid = []
  date = []
  username = []
  twid = []
  folcount = []
  frcount = []
  items = []
  mentions = []
  retweet = []
  favcount = []

  for tweet in tweets:
    if hasattr(tweet, "entities"):
      entities = tweet.entities
      if "user_mentions" in entities:
        for ent in entities["user_mentions"]:
          if ent is not None:
            if "screen_name" in ent:
              screen_name = ent["screen_name"]
              if screen_name is not None:
                usid.append(str(tweet.id_str))
                date.append(tweet.created_at)
                mentions.append(screen_name)
                username.append(tweet.user.screen_name)
                items.append(tweet.full_text.encode('utf-8'))
                twid.append(str(tweet.id))
                folcount.append(tweet.user.followers_count)
                frcount.append(tweet.user.friends_count)
                retweet.append(tweet.retweet_count)
                favcount.append(tweet.favorite_count)
  
  hasil = pd.DataFrame(list(zip(usid, date, username, items, twid, mentions, folcount, frcount, retweet, favcount)),
                    columns=['User ID', 'Date', 'Username From', 'Tweet','Tweet ID','Mention', 'followers_count', 'friends_count', 'retweet_count', 'favorite_count'])

  return hasil

In [ ]:
# df = crawling('#Kpop')
# df = crawling('#kpopgroup')
# df = crawling('#koreanpop')
# df = crawling('#kpopers')
# df = crawling('#kpopopinions')

df = crawling('#BLACKPINK')
# df = crawling('#BTS')
# df = crawling('#EXO')
# df = crawling('#NCT')

df.head()

               User ID                Date  ... retweet_count favorite_count
0  1405047453242445824 2021-06-16 06:19:52  ...            12              0
1  1405047453242445824 2021-06-16 06:19:52  ...            12              0
2  1405047440680517634 2021-06-16 06:19:49  ...         61742              0
3  1405047432719736837 2021-06-16 06:19:47  ...          1766              0
4  1405047432719736837 2021-06-16 06:19:47  ...          1766              0

[5 rows x 10 columns]

In [ ]:
df['Tweet ID'] = df['Tweet ID'].drop_duplicates(keep='first')
df

                  User ID                Date  ... retweet_count favorite_count
0     1405047453242445824 2021-06-16 06:19:52  ...            12              0
1     1405047453242445824 2021-06-16 06:19:52  ...            12              0
2     1405047440680517634 2021-06-16 06:19:49  ...         61742              0
3     1405047432719736837 2021-06-16 06:19:47  ...          1766              0
4     1405047432719736837 2021-06-16 06:19:47  ...          1766              0
...                   ...                 ...  ...           ...            ...
1391  1405040422204887044 2021-06-16 05:51:55  ...             4              0
1392  1405040416928452609 2021-06-16 05:51:54  ...           903              0
1393  1405040415879974912 2021-06-16 05:51:54  ...             4              0
1394  1405040415879974912 2021-06-16 05:51:54  ...             4              0
1395  1405040415879974912 2021-06-16 05:51:54  ...             4              0

[1396 rows x 10 columns]

In [ ]:
df.to_excel(r'#BP.xlsx', index=False)

In [ ]:
df.to_excel(r'#kpopopinions.xlsx', index=False)

In [ ]:
df.to_excel(r'#bts.xlsx', index=False)

In [ ]:
df.to_excel(r'#NCT.xlsx', index=False)

In [ ]:
df.to_excel(r'#kpopers.xlsx', index=False)

In [ ]:
df.to_excel(r'#kpopgroup.xlsx', index=False)

In [ ]:
df.to_excel(r'#kpoptwt.xlsx', index=False)